In [1]:
# Import Relevant Outliers for the Work Required
import sklearn.preprocessing as prep
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px

In [48]:
from sklearn import svm

In [20]:
df = pd.read_excel(r'wine.xls')
df = df.sample(frac=1)\
df_train = df.head(5500)

In [27]:
keys = df.keys()
keys

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'color'],
      dtype='object')

In [29]:
df_train = df_train.drop('quality',axis=1)

In [32]:
df_train.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000,5500.000000
mean,7.233864,0.339941,0.318422,5.426736,0.056291,30.419000,115.314545,0.994715,3.218135,0.531398,10.485095
std,1.314673,0.164513,0.146380,4.716625,0.035521,17.898888,56.699382,0.002959,0.161384,0.149493,1.192119
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000
25%,6.400000,0.230000,0.240000,1.800000,0.038000,17.000000,76.000000,0.992380,3.110000,0.430000,9.500000
50%,7.000000,0.295000,0.310000,2.900000,0.047000,29.000000,118.000000,0.994885,3.210000,0.510000,10.300000
75%,7.700000,0.410000,0.390000,8.100000,0.065000,41.000000,155.000000,0.997000,3.320000,0.600000,11.300000
max,15.900000,1.580000,1.660000,31.600000,0.611000,289.000000,440.000000,1.010300,4.010000,2.000000,14.900000

In [47]:
# outliers: residual sugar, free sulfur dioxide, total sulfar dioxide should be normalised